@use "@material/drawer";
@use "@material/list";
@use "@material/top-app-bar/mdc-top-app-bar";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;

body {
  display: flex;
  height: 100vh;
  margin: 0px;
}


.mdc-drawer{
  width: 296px;
  padding-left: 38px;
  background-color: #393f4f;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  height: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-drawer__header{
  margin-top: 34px;
}

.logo-word{
  padding-left: 12px;
}

.mdc-list-item{
  height: 64px;
  color: white;
}

.list-img{
  padding-right: 31px;
}

